* {
  box-sizing: border-box;
}

:root {
  --primary: violet;
  --secondary: #8c3792;
  --tertiary: rgb(236, 244, 245);
  --black: black;
}

body {
  background: var(--tertiary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color: var(--black);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}

header {
  /* Flex container,flex with space between and wrap */
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-Header {
  background-color: var(--tertiary);
  border-radius: 10px;
  text-decoration: none;
  border: 0;
  font-size: 2vw;
  /* Remove border around button */
  outline: 0; 
  color: var(--primary);
  margin-left: 1.5vw;
  padding: 0vw;
}

.btn-Header:hover {
  color: var(--secondary); 
}

header p {
  color: var(--black);
  font-size: 2vw;
  margin-right: 1.5vw;
  padding: 0vw;
}

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 25px auto;
}

.Quiz-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}

#questionDisplay{
  font-size: 3vw;
}

#explanation-paragraph{
  text-align: center;
  font-size: 1.5vw;
  width: 60%;
}

.btn-quiz {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--primary);
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
}

.btn-quiz:hover {
 background-color: var(--secondary);
}



.edit-btn,
.delete-btn {
  font-size: 1.4rem;
  padding: 5px 7px;
  margin: 3px;
  background: var(--secondary);
  color: #fff;
}



#submit{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
#submit:hover{
  background-color: #3a8;
}



@media screen and (max-width: 980px) {
  /* form .form-group {
    flex: 1 100%;
  }

  form .form-group button {
    width: 100%;
  }

  .task-list-wrapper {
    flex-basis: 100%;
  } */

}
